.cuerpo{
    background-color: #FFFFFF
}

.container-fluid{
    background-color: #CFCFCF;
}

.bg-custom{
    background-color: #63B2B7 !important;
}

.card-body{
    background-color: #B7D1DA;
}

.bg-custom2{
    background-color: #CFCFCF;
}